system-view
acl advanced {{ acl_number }}
{% for rule in rules -%}
rule {{ rule.sequence }} {{ rule.action }} {{ rule.protocol }} source {{ rule.src }} destination {{ rule.dst }}
{% endfor -%}
quit
quit

