configure terminal
interface {{ interface }}
switchport mode access
switchport access vlan {{ vlan_id }}
{% if description %}description {{ description }}{% endif %}
{% if admin_state == "up" %}no shutdown{% else %}shutdown{% endif %}
exit
end

